/* ==========================================================================
 >>> TABLE OF CONTENTS:
   ==========================================================================
1. Fonts
2. Font Family 
3. Padding
4. Margin
5. Width
6. Max Width
7. Background Color
8. Text Color
9. Borders
10. Buttons
11. Nav Tabs
12. Accordion
13. Custom Controls
14. Card
15. Table Cell
16. Dropdown
17. Icons CSS
18. Pagination
19. Popover
20. Custom Table Emails
21. Form Controls
22. Modal
23. Datepicker
24. Bootstrap Select
25. Select2 Multiselect
26. Progress Bar
27. Header
28. Sidebar
29. Upload File Type
30. Scrollbar
31. Media Queries
*/


body {
    margin: 0;
    font-family: "Avenir Medium", sans-serif !important;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f3f7fa!important;
    font-size: 15px;
}
.container-fluid {
    width: 100%; 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    max-width: 1254px!important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Avenir Demi";
}
h1, .h1 {
    font-size:26px!important;
}
h2, .h2 {
    font-size:22px !important;
}
h3, .h3 {
    font-size:18px !important;
}
h4, .h4 {
    font-size:15px!important;
}
a{
    color:#007bff;
    cursor:pointer;
}
a:hover{
    /*color:inherit;*/
    text-decoration:none!important;
}
p{
    font-family: "Avenir Medium";
    font-size:15px;
}

li{
    margin-bottom:5px;
}
small, .small {
    font-family: "Avenir Medium";
    font-size:12px!important;
}
p small{
    font-family: "Avenir Medium";
    font-size:14px;
}
/*span{
    display: inline-block;
    margin-bottom:5px;
}*/
label, option{
    font-size:15px;
}
.form-row>.col,
.form-row>[class*="col-"] {
    padding-right: 10px!important;
    padding-left: 10px!important;
    margin-bottom: 18px;
}
select{
    color: #6c757d!important;
}

.badge {
    padding: 4px !important;
    font-weight: 500 !important;
}
.badge.badge-pill{
    padding: 6px 9px !important;
    font-size: 14px;
}

.the-legend{
    border-style: none;
    border-width: 0;
    font-size: 15px;
    font-family: "Avenir Demi";
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 5px;
}

.the-fieldset{
    border: 1px solid #d4e2ff;
    border-radius:5px;
    padding: 15px;
    margin-bottom:25px;
}

.long-links{
    max-width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link-break{
    word-break: break-all;
    white-space: pre-line;
}
/*******************
Fonts
*******************/
/* @font-face {
    font-family: "Avenir Medium";
    src: url("../fonts/AvenirNextLTPro-Medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Demi";
    src: url("../fonts/AvenirNextLTPro-Demi.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Avenir Bold";
    src: url("../fonts/AvenirNextLTPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
} */

/*******************
Font Family 
*******************/
.font-medium{
    font-family: "Avenir Medium"!important;  
}
.font-demi{
    font-family: "Avenir Demi"!important;
}
.font-bold{
    font-family: "Avenir Bold"!important;
}
.font-unique{
    font-family: "unique-font"!important;  
    cursor: pointer;
}

input,
input::placeholder,
textarea::placeholder,
select,
input::-webkit-input-placeholder {
    font-size: 15px!important;
}


/*******************
Padding
*******************/
html body .p-0 {
    padding: 0 !important;
}
html body .p-5 {
    padding: 5px !important;
}
html body .p-10 {
    padding: 10px !important;
}
html body .p-15 {
    padding: 15px !important;
}
html body .p-20 {
    padding: 20px !important;
}
html body .p-25 {
    padding: 25px !important;
}
html body .p-30 {
    padding: 30px !important;
}
html body .p-35 {
    padding: 35px !important;
}
html body .p-40 {
    padding: 40px !important;
}
html body .p-45 {
    padding: 45px !important;
}
html body .p-50 {
    padding: 50px !important;
}

/* Padding Left */
html body .p-l-0 {
    padding-left: 0 !important;
}
html body .p-l-5 {
    padding-left: 5px !important;
}
html body .p-l-10 {
    padding-left: 10px !important;
}
html body .p-l-15 {
    padding-left: 15px !important;
}
html body .p-l-20 {
    padding-left: 20px !important;
}
html body .p-l-25 {
    padding-left: 25px !important;
}
html body .p-l-30 {
    padding-left: 30px !important;
}
html body .p-l-35 {
    padding-left: 35px !important;
}
html body .p-l-40 {
    padding-left: 40px !important;
}
html body .p-l-45 {
    padding-left: 45px !important;
}
html body .p-l-50 {
    padding-left: 50px !important;
}


/* Padding Right */
html body .p-r-0 {
    padding-right: 0 !important;
}
html body .p-r-5 {
    padding-right: 5px !important;
}
html body .p-r-10 {
    padding-right: 10px !important;
}
html body .p-r-15 {
    padding-right: 15px !important;
}
html body .p-r-20 {
    padding-right: 20px !important;
}
html body .p-r-25 {
    padding-right: 25px !important;
}
html body .p-r-30 {
    padding-right: 30px !important;
}
html body .p-r-35 {
    padding-right: 35px !important;
}
html body .p-r-40 {
    padding-right: 40px !important;
}
html body .p-r-45 {
    padding-right: 45px !important;
}
html body .p-r-50 {
    padding-right: 50px !important;
}

/* Padding Top */
html body .p-t-0 {
    padding-top: 0 !important;
}
html body .p-t-5 {
    padding-top: 5px !important;
}
html body .p-t-10 {
    padding-top: 10px !important;
}
html body .p-t-15 {
    padding-top: 15px !important;
}
html body .p-t-20 {
    padding-top: 20px !important;
}
html body .p-t-25 {
    padding-top: 25px !important;
}
html body .p-t-30 {
    padding-top: 30px !important;
}
html body .p-t-35 {
    padding-top: 35px !important;
}
html body .p-t-40 {
    padding-top: 40px !important;
}
html body .p-t-45 {
    padding-top: 45px !important;
}
html body .p-t-50 {
    padding-top: 50px !important;
}

/* Padding Bottom */
html body .p-b-0 {
    padding-bottom: 0 !important;
}
html body .p-b-5 {
    padding-bottom: 5px !important;
}
html body .p-b-10 {
    padding-bottom: 10px !important;
}
html body .p-b-15 {
    padding-bottom: 15px !important;
}
html body .p-b-20 {
    padding-bottom: 20px !important;
}
html body .p-b-25 {
    padding-bottom: 25px !important;
}
html body .p-b-30 {
    padding-bottom: 30px !important;
}
html body .p-b-35 {
    padding-bottom: 35px !important;
}
html body .p-b-40 {
    padding-bottom: 40px !important;
}
html body .p-b-45 {
    padding-bottom: 45px !important;
}
html body .p-b-50 {
    padding-bottom: 50px !important;
}


/*******************
Margin
*******************/
html body .m-0 {
    margin: 0px !important;
}
html body .m-5 {
    margin: 5px !important;
}
html body .m-10 {
    margin: 10px !important;
}
html body .m-15 {
    margin: 15px !important;
}
html body .m-20 {
    margin: 20px !important;
}
html body .m-25 {
    margin: 25px !important;
}
html body .m-30 {
    margin: 30px !important;
}
html body .m-35 {
    margin: 35px !important;
}
html body .m-40 {
    margin: 40px !important;
}
html body .m-45 {
    margin: 45px !important;
}
html body .m-50 {
    margin: 50px !important;
}

/* Margin Left */
html body .m-l-0 {
    margin-left: 0px !important;
}
html body .m-l-5 {
    margin-left: 5px !important;
}
html body .m-l-10 {
    margin-left: 10px !important;
}
html body .m-l-15 {
    margin-left: 15px !important;
}
html body .m-l-20 {
    margin-left: 20px !important;
}
html body .m-l-25 {
    margin-left: 25px !important;
}
html body .m-l-30 {
    margin-left: 30px !important;
}
html body .m-l-35 {
    margin-left: 35px !important;
}
html body .m-l-40 {
    margin-left: 40px !important;
}
html body .m-l-45 {
    margin-left: 45px !important;
}
html body .m-l-50 {
    margin-left: 50px !important;
}

/* Margin Right */
html body .m-r-0 {
    margin-right: 0px !important;
}
html body .m-r-5 {
    margin-right: 5px !important;
}
html body .m-r-10 {
    margin-right: 10px !important;
}
html body .m-r-15 {
    margin-right: 15px !important;
}
html body .m-r-20 {
    margin-right: 20px !important;
}
html body .m-r-25 {
    margin-right: 25px !important;
}
html body .m-r-30 {
    margin-right: 30px !important;
}
html body .m-r-35 {
    margin-right: 35px !important;
}
html body .m-r-40 {
    margin-right: 40px !important;
}
html body .m-r-45 {
    margin-right: 45px !important;
}
html body .m-r-50 {
    margin-right: 50px !important;
}

/* Margin Top */
html body .m-t-0 {
    margin-top: 0 !important;
}
html body .m-t-5 {
    margin-top: 5px !important;
}
html body .m-t-10 {
    margin-top: 10px !important;
}
html body .m-t-15 {
    margin-top: 15px !important;
}
html body .m-t-20 {
    margin-top: 20px !important;
}
html body .m-t-25 {
    margin-top: 25px !important;
}
html body .m-t-30 {
    margin-top: 30px !important;
}
html body .m-t-35 {
    margin-top: 35px !important;
}
html body .m-t-40 {
    margin-top: 40px !important;
}
html body .m-t-45 {
    margin-top: 45px !important;
}
html body .m-t-50 {
    margin-top: 50px !important;
}

/* Margin Bottom */
html body .m-b-0 {
    margin-bottom: 0 !important;
}
html body .m-b-5 {
    margin-bottom: 5px !important;;
}
html body .m-b-10 {
    margin-bottom: 10px !important;
}
html body .m-b-15 {
    margin-bottom: 15px !important;;
}
html body .m-b-20 {
    margin-bottom: 20px !important;;
}
html body .m-b-25 {
    margin-bottom: 25px !important;;
}
html body .m-b-30 {
    margin-bottom: 30px !important;;
}
html body .m-b-35 {
    margin-bottom: 35px !important;;
}
html body .m-b-40 {
    margin-bottom: 40px !important;;
}
html body .m-b-45 {
    margin-bottom: 45px !important;;
}
html body .m-b-50 {
    margin-bottom: 50px !important;;
}

/*Font Size*/
html body .font-10 {
    font-size: 10px!important;
}
html body .font-12 {
    font-size: 12px!important;
}
html body .font-14 {
    font-size: 14px!important;
}
html body .font-15 {
    font-size: 15px!important;
}
html body .font-16 {
    font-size: 16px!important;
}
html body .font-18 {
    font-size: 18px!important;
}
html body .font-20 {
    font-size: 20px!important;
}
html body .font-22 {
    font-size: 22px!important;
}
html body .font-24 {
    font-size: 24px!important;
}
html body .font-26 {
    font-size: 26px!important;
}
html body .font-45 {
    font-size: 45px!important;
}
html body .font-50 {
    font-size: 50px!important;
}
html body .font-60 {
    font-size: 60px!important;
}
html body .table-boxshadow{
    box-shadow: 0px 2px 6px #ced4da!important;
}

/*******************
 Width
*******************/
html body .w-5 {
    width: 5%;
}
html body .w-10 {
    width: 10%;
}
html body .w-15 {
    width: 15%;
}
html body .w-20 {
    width: 20%;
}
html body .w-30 {
    width: 30%;
}
html body .w-35 {
    width: 35%;
}
html body .w-40 {
    width: 40%;
}
html body .w-45 {
    width: 45%;
}
html body .w-55 {
    width: 55%;
}
html body .w-60 {
    width: 60%;
}
html body .w-65 {
    width: 65%;
}
html body .w-70 {
    width: 70%;
}
html body .w-80 {
    width: 80%;
}
html body .w-85 {
    width: 85%;
}
html body .w-90 {
    width: 90%;
}
html body .w-95 {
    width: 95%;
}

/*******************
Max Width
*******************/
html body .m-w-5 {
    max-width: 5px!important;
}
html body .m-w-10 {
    max-width: 10px!important;
}
html body .m-w-15{
    max-width: 15px!important;
}
html body .m-w-20 {
    max-width: 20px!important;
}
html body .m-w-25 {
    max-width: 25px!important;
}
html body .m-w-30 {
    max-width: 30px!important;
}
html body .m-w-35 {
    max-width: 35px!important;
}
html body .m-w-40 {
    max-width: 40px!important;
}
html body .m-w-45 {
    max-width: 45px!important;
}
html body .m-w-50 {
    max-width: 50px!important;
}
html body .m-w-55 {
    max-width: 55px!important;
}
html body .m-w-60 {
    max-width: 60px!important;
}
html body .m-w-65 {
    max-width: 65px!important;
}
html body .m-w-70 {
    max-width: 70px!important;
}
html body .m-w-75 {
    max-width: 75px!important;
}
html body .m-w-80 {
    max-width: 80px!important;
}
html body .m-w-85 {
    max-width: 85px!important;
}
html body .m-w-90 {
    max-width: 90px!important;
}
html body .m-w-95 {
    max-width: 95px!important;
}
html body .m-w-100 {
    max-width: 100px!important;
}


/*******************
Background Color
*******************/
.bg-body{
    background: #f3f7fa!important;  
}

.bg-bodycolor {
    background-color: #212529 !important;
}
.text-bodycolor {
    color: #212529 !important;
}
.bg-primary1 {
    background-color: #d4e2ff !important;
}
.bg-primary2 {
    background-color: #eef7ff !important;
}


/*******************
Text Color
*******************/
.text-primary1 {
    color: #d4e2ff !important;
}
.text-primary2 {
    color: #eef7ff !important;
}
.text-placeholder {
    color: #495057;
}

/*******************
Borders
*******************/
.border-primary1 {
    border-color: #d4e2ff !important;
}
.border-primary2 {
    border-color: #eef7ff !important;
}
.border-bottom-primary2 {
    border-bottom:2px solid #eef7ff !important;
}
.border-form {
    border-color: #ced4da!important;
}
.border-top-primary2 {
    border-top:2px solid #eef7ff !important;
}
.border-bottom-primary2-thin{
    border-bottom:1px solid #eef7ff !important;
}
.border-top-primary2-thin{
    border-top:1px solid #eef7ff !important;
}
.border-right-primary2 {
    border-right:2px solid #eef7ff !important;
}


/*******************
Buttons
*******************/
.btn-primary1 {
    color: #212529;
    background-color: #d4e2ff !important;
    border-color: #d4e2ff;
}
.btn-primary2 {
    color: #212529;
    background-color: #eef7ff !important;
    border-color: #eef7ff;
}
.btn-outline-primary1 {
    border-color: #d4e2ff !important;
    color: #212529!important;
    background-color: #eef7ff !important;
}
.btn-outline-secondary:hover{
    background-color:#007bff!important;
    border-color: #007bff!important;
}
/*.btn-outline-primary1{
    border-color: #d4e2ff !important; 
    color:#d4e2ff;
}
.btn-outline-primary2{
    border-color: #eef7ff !important; 
    color:#eef7ff;
}*/
.btn:focus{
    box-shadow: none!important;
}
button.btn.disabled:hover {
    background-color: #fff0!important;
}


/*******************
Nav Tabs
*******************/

.nav-tabs .nav-link {
    border:none!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #007bff!important;
    background-color: #fff!important;
    border-bottom: 2px solid #007bff!important;
    border-color:#fff0;
}
.nav-tabs .nav-item .nav-link:hover{
    /*border-color:#fff0!important;*/
    color: #007bff!important;
}
.nav-tabs {
    border-bottom-color: #fff0!important; 
}


/*******************
Accordion
*******************/
#accordion .btn-link.focus,
#accordion .btn-link:hover {
    text-decoration: none!important;
    color:#007bff!important;
    outline: 0!important;
}
#accordion .btn-link{
    text-decoration: none!important;
    color:#212529;
}


/*******************
Custom Controls
*******************/

.custom-control{
    min-height: inherit!important;
}

.custom-file-input {
    cursor: pointer;
}
.custom-control-label {
    padding-left: 5px;
}
.custom-control-label:after,
.custom-control-label:before{
    cursor: pointer;
}
.dropdown .custom-checkbox:hover{
    color:#007bff;
    background: #eef7ff;
}


/*******************
Card
*******************/
.card .card-header {
    background: #fff;
    border-bottom:2px solid #eef7ff;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.card {
    border-radius: 5px !important;
    box-shadow: 0px 2px 6px #ced4da;
    border: 0px solid #fff0;
    margin-bottom: 30px;
    z-index:inherit;
}
.card img{
    border: 2px solid #d4e2ff;
}
.card .card-footer{
    border-top: 2px solid #eef7ff ;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius:5px !important;
}


/*******************
Table Cell
*******************/

.table thead th,
.table th {
    font-family: "Avenir Demi";
    font-weight: 500;
    font-size:14px;
    color:#212529;
    border-bottom: 2px solid #eef7ff!important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
}
.table tbody td {
    font-size: 15px;
    border-top:2px solid #eef7ff !important;
    padding-top: 15px;
    padding-bottom: 15px;
} 
.table thead tr,
.table tbody tr {
    border-left: 2px solid #fff0;
}
.table-hover tbody tr:hover,
.table-hover tbody tr.active {
    background-color: #eef7ff!important;
    border-left: 2px solid #007bff!important;
}
.table-hover tbody tr:hover i.fa-info-circle {
    color:#007bff!important;
}
.table tbody tr:first-child td{
    border-top:0 !important;
}


/*******************
Dropdown
*******************/
.dropdown-menu.show a:hover {
    color:#007bff;
    background: #eef7ff;
}
.dropdown.show i.fas.fa-ellipsis-v{
    color: #007bff !important;
}
.dropdown-menu.show {
    box-shadow: 0px 2px 6px #ced4da;
    border:none;
}
.dropdown.show {
    display: block!important;
}
.dropdown img {
    cursor:pointer;
}
tbody tr:hover .dropdown.d-none{
    display:block!important;
}
tbody tr:hover .dropdown.d-none{
    display:block!important;
}


/*******************
Icons CSS
*******************/
i.fas{
    cursor: pointer; 
}
i.fas.fa-ellipsis-v:hover{
    color:#007bff!important;
}
.card i.fas.fa-trash:hover,
.card i.fas.fa-file-export:hover,
.card i.fas.fa-filter:hover,
.card i.fas.fa-search:hover,
.card i.fas.fa-eye:hover,
.card i.fas.fa-envelope:hover,
.card i.fas.fa-print:hover
{
    color:#fff;
    background-color:#007bff!important;
    border:1px solid #007bff!important;
    cursor: pointer;
}


/*******************
Pagination
*******************/
a.page-link i:hover{
    color:#007bff !important;
}
a.page-link:hover{
    background-color: #fff!important;
}
a.page-link:focus {
    border-color: #007bff;
    box-shadow: none;
}


/*******************
Popover
*******************/
.popover{
    border: none!important;
    box-shadow: 0px 2px 6px #ced4da;
    max-width: 453px!important;
}
.table-popover-row {
    border-bottom: 2px solid #eef7ff!important;
}

.bs-popover-auto[x-placement^="left"]>.arrow,
.bs-popover-auto[x-placement^="right"]>.arrow,
.bs-popover-auto[x-placement^="top"]>.arrow,
.bs-popover-auto[x-placement^="bottom"]>.arrow,
.bs-popover-left>.arrow,
.bs-popover-right>.arrow,
.bs-popover-top>.arrow,
.bs-popover-bottom>.arrow{
    display: none!important;
}

.table-popover-row:last-child {
    border-bottom: 0!important;
}


/*******************
Custom Table Emails
*******************/
.custom-table-emails tbody td button:hover{
    background-color: #007bff;
    box-shadow:none;
    border-color:#007bff;
}
.custom-table-emails tbody tr:hover .dropdown.d-none{
    display:block!important;
}
.custom-table-emails tbody tr:hover i.fa-info-circle.d-none,
.custom-table-emails tbody tr:active i.fa-info-circle.d-none{
    display:inline-block!important;
}
.custom-table-emails tbody tr img{
    border: 2px solid #d4e2ff !important;;
}


/*******************
Form Controls
*******************/
/*.form-control:focus,
.custom-select:focus,
.custom-file-input:focus~.custom-file-label,
span.select2-selection.select2-selection--multiple:focus,
.fg-select-search-wrap button:focus,
.bootstrap-select button:focus{
    border-color: #5cb3fd !important;
    outline: 0;
    box-shadow: none!important;
}*/


.select2-container--default .select2-selection--multiple:focus, 
.select2-container--default.select2-container--focus .select2-selection--multiple:focus,
.select2-selection.select2-selection--multiple:focus,
.select2.select2-container.select2-container--default.select2-container--focus.select2-container--below.select2-container--open:focus,
.select2.select2-container.select2-container--default.select2-container--focus.select2-container--below:focus,
.bootstrap-select.form-control.show:focus,
.select2-selection.select2-selection--multiple:focus
{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.form-control:hover:not(:focus),
.custom-select:hover:not(:focus),
.custom-file-input:hover~.custom-file-label:not(:focus),
.select2-selection.select2-selection--multiple:hover:not(:focus),
.fg-select-search-wrap button:hover:not(:focus),
.bootstrap-select button:hover:not(:focus),
.select2-container--default .select2-selection--multiple:hover:not(:focus), 
.select2-container--default.select2-container--focus .select2-selection--multiple:hover:not(:focus){
    border-color: #5cb3fd;
    outline: 0;
    box-shadow: none;
}

.has-success .form-control.form-control-success {
    border-color: #5cb85c;
}
.has-success .form-control.form-control-success:focus {
    border-bottom: 1px solid #5cb85c;
}
.has-success .form-control.form-control-success:focus {
    border-color: #5cb85c;
    box-shadow: 0 0 0 0.2rem #5cb85c40;
}
.has-success .form-control.form-control-success:focus+.text-muted{
    color: #5cb85c!important;
}


/*******************
Modal
*******************/
.modal-header {
    border-bottom: 1px solid #d4e2ff!important;
}
.modal-footer {
    border-top: 1px solid #d4e2ff!important;
}

.modal-dialog-slideout.modal-lg {
    max-width: 64%;
}
.modal-dialog-slideout{
    min-height: 100%;
    margin: 0 auto!important;
    background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(50%,0)scale(1);
    transform: translate(50%,0)scale(1);
}
.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(30%,0);
    transform: translate(30%,0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-dialog-slideout .modal-content{
    border: 0;
}
.modal-dialog-slideout .modal-header h5 {
    float:left;
}

.modal.left .modal-dialog.modal-toggle-sidebar {
    position: fixed;
    margin: auto;
    width: 185px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0)!important;
    -ms-transform: translate3d(0%, 0, 0)!important;
    -o-transform: translate3d(0%, 0, 0)!important;
    transform: translate3d(0%, 0, 0)!important;
}
.modal.left.fade .modal-dialog.modal-toggle-sidebar{
    left: -185px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.show .modal-dialog.modal-toggle-sidebar{
    left: 0;
}
/*.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}*/


/*******************
Datepicker
*******************/

.daterangepicker:before,
.daterangepicker:after{
    display: none!important;
}

.daterangepicker .ranges li.active {
    background-color: #007bff!important;
    color: #fff;
}
.daterangepicker .ranges li:hover {
    color: #007bff!important;
    background: #eef7ff!important;
}


/*******************
Bootstrap Select
*******************/
.bootstrap-select button.btn-light,
.bootstrap-select button.btn-light:active,
.bootstrap-select button:hover,
.bootstrap-select button:focus
{
    background-color:#fff!important;
    border-color: #ced4da;
    color:#212529;
}
.bootstrap-select .dropdown-menu span{
    font-size: 15px;
}

.bootstrap-select .dropdown-menu.show {
    width: 100%;
    /*    overflow: hidden;
        text-overflow: ellipsis;*/
}
/*.bootstrap-select ul.dropdown-menu.inner.show {
    width: 250%;
}*/
.bootstrap-select .inner.show {
    overflow-x:hidden;
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus{
    outline:none!important;
}
.bootstrap-select .filter-option-inner-inner{
    font-size:15px;
}
.dropdown-menu.show .inner ul.dropdown-menu li img {
    margin: 5px;
}
.bootstrap-select ul.dropdown-menu.inner.show li a {
    padding-left:15px;
    white-space: normal;
}
.bootstrap-select.disabled {
    background-color: #e9ecef;
    opacity: 1;
}
/*.dropdown.bootstrap-select .dropdown-menu ul li a {
    white-space: normal;
}*/



/*******************
Progress Bar
*******************/
/*.progress{
    height:25px;
}*/

/*******************
Select2
*******************/
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #eef7ff !important;
    border-color: #dee2e6!important;
    font-size: 15px;
}
li.select2-selection__choice {
    color: #212529!important;
}
span.select2-selection__choice__remove {
    color: #6e6e6e!important;
}
span.select2-selection__choice__remove {
    float: right;
    margin-left: 5px;
}
.select2-results__option {
    font-size: 15px;
}

/*******************
Header
*******************/
nav.fg-header,
nav.fg-search-header{
    border-bottom:1px solid #d4e2ff;
}
.fg-header .fg-chosen-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #212529 50%),
        linear-gradient(135deg, #212529 50%, transparent 50%),
        linear-gradient(to left, #eef7ff, #eef7ff);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}


/*******************
Sidebar
*******************/
.fg-main-sidebar-wrap{
    z-index:999;
}
#fg-sidebar .fg-sidebar-menu li.active,
#fg-sidebar .fg-sidebar-menu li:hover{
    background-color: #007bff;
    /*border-left: 2px solid #fff;*/
}
#fg-sidebar .fg-sidebar-menu li {
    /*border-left: 2px solid #fff0;*/
    cursor: pointer;
    margin-bottom: 0px;
}
#fg-sidebar .fg-sidebar-menu li a:hover {
    text-decoration: none;
}

/*Sidebar Submenu*/
.fg-list-item:hover .sub-menu-dropdown {
    display: block!important
}
ul.sub-menu-dropdown {
    width:160px;
    /*left: 80px;*/
    left: 100%;
    z-index: 999;
    list-style: none;
    top:0;
}
ul.sub-menu-dropdown li:hover a{
    color:#fff!important;
}
ul.sub-menu-dropdown li:hover{
    background-color: #fff0!important;    
}


/*******************
Upload File Type
*******************/
.upload-file{
    border: 2px dashed #ccc;
}
.upload-file input:hover{
    cursor: pointer;
}
.upload-file:hover{
    border: 2px dashed #007bff;
}
.upload-file .up-file-wrap {
    line-height: 85px;
}
.upload-file input{
    outline: none;
    opacity: 0;
}


/*******************
Scrollbar
*******************/

#scrollbarStyle::-webkit-scrollbar-track{
    background-color: #d4e2ff;
}

#scrollbarStyle::-webkit-scrollbar{
    width: 8px;
    background-color: #d4e2ff;
    height: 10px;
}

#scrollbarStyle::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #007bff;
}


/*******************
Media Queries
*******************/
@media only screen and (min-width: 768px) {

    /*    .table-responsive {
            overflow-x: hidden!important;
        }*/
    .fg-main-sidebar-wrap.col-xl-1,
    .fg-main-sidebar-wrap.col-lg-1
    {
        /*        max-width: 5.333333%;
                flex: 0 0 5.333333%;*/
        max-width: 6%;
        flex: 0 0 6%;
    }
    .fg-main-content-wrap.col-xl-11,
    .fg-main-content-wrap.col-lg-11
    {
        /*        max-width: 94.666667%;
                flex: 0 0 94.666667%;*/
        max-width: 94%;
        flex: 0 0 94%;
    }
}

@media only screen and (max-width: 991px) {
    /*    .fg-main-content-wrap {
            max-width: 100%;
            flex: 0 0 100%;
        }*/
}
@media only screen and (max-width: 767px) {

    .navbar-brand img{
        width: 73%!important;
    }
}

@media only screen and (max-width: 567px) {
    .upload-file .up-file-wrap {
        line-height: 30px;
        padding: 10px 0;
    }
}